
.formik-password {
  position: relative;

  .formik-password-field {
    &.is-invalid {
      background: none;
    }

    &.is-valid {
      background: none;
    }
  }

  .formik-password-field:disabled {
    background-color: #e9ecef;
  }

  .formik-password-btn {
    position: absolute;
    top: 4px;
    right: 0;
    border: 0;
  }
}
