
.sidebar {
  margin: 10px;
  border: 1px solid #F5F5F5;
  box-shadow: 0 3px 16px rgba(152, 132, 183, 0.05);
  border-radius: 12px;

  &.ps-broken {
    height: 98% !important;
    left: -270px !important;

    &.ps-toggled {
      left: 0 !important;
    }
  }

  .ps-sidebar-container {
    background-color: $white;
    border: 1px solid #F5F5F5;
    box-shadow: 0 3px 16px rgba(152, 132, 183, 0.05);
    border-radius: 12px;

    .logo {
      @include rect-size(32px);
    }
  }

  .ps-menu-root {

    .ps-menuitem-root {

      .ps-menu-button {
        padding: 0;
        margin: 0 20px;

        &:hover {
          border-radius: 8px;
        }

        .ps-menu-icon {}

        .ps-menu-label {}
      }

      .ps-menu-button.active {
        color: $white;
        border-radius: 8px;
        background: linear-gradient(90deg, #7257EE 0%, #29BCF9 113.99%);

        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 4px;
          height: 50px;
          display: block;
          background-color: $primary;
          border-end-end-radius: 4px;
          border-start-end-radius: 4px;
        }

        .ps-menu-icon {
          color: $white;
        }
      }
    }
  }
}
