
#SignUp {
  height: 100%;
  padding: 60px 20px 30px;
  background: radial-gradient(133% 341% at 177% 133%, #B0A1F6 0%, rgba(114, 87, 238, 0) 100%), radial-gradient(123% 122% at -24% 11%, #7257EE 0%, #B7A8FF 100%);

  .logo-row {
    padding-top: 35px;
    margin-bottom: 108px;

    .logo-img {
      width: 38px;
      height: 43px;
    }
  }
}
